<mat-grid-list cols="16" rowHeight="64px">
    <mat-grid-tile>Date</mat-grid-tile>
    <mat-grid-tile>Service Type</mat-grid-tile>
    <mat-grid-tile>Orchestra 1</mat-grid-tile>
    <mat-grid-tile>Orchestra 2</mat-grid-tile>
    <mat-grid-tile>Orchestra 3</mat-grid-tile>
    <mat-grid-tile>Orchestra 4</mat-grid-tile>
    <mat-grid-tile>Orchestra 5</mat-grid-tile>
    <mat-grid-tile>Choir 1</mat-grid-tile>
    <mat-grid-tile>Choir 2</mat-grid-tile>
    <mat-grid-tile>Choir 3</mat-grid-tile>
    <mat-grid-tile>Choir 4</mat-grid-tile>
    <mat-grid-tile>Before Service</mat-grid-tile>
    <mat-grid-tile>Opening Hymn</mat-grid-tile>
    <mat-grid-tile>Repentance</mat-grid-tile>
    <mat-grid-tile>Communion 1</mat-grid-tile>
    <mat-grid-tile>Communion 2</mat-grid-tile>

    @for (service of dataSource; track service.date) {

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Date</mat-label>
                <input matInput placeholder="Date" [(ngModel)]="service.date">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Service Type</mat-label>
                <input matInput placeholder="Service Type" [(ngModel)]="service.serviceType">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Orchestra 1</mat-label>
                <input matInput placeholder="Orchestra 1" [(ngModel)]="service.orchestra1">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Orchestra 2</mat-label>
                <input matInput placeholder="Orchestra 2" [(ngModel)]="service.orchestra2">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Orchestra 3</mat-label>
                <input matInput placeholder="Orchestra 3" [(ngModel)]="service.orchestra3">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Orchestra 4</mat-label>
                <input matInput placeholder="Orchestra 4" [(ngModel)]="service.orchestra4">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Orchestra 5</mat-label>
                <input matInput placeholder="Orchestra 5" [(ngModel)]="service.orchestra5">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Choir 1</mat-label>
                <input matInput placeholder="Choir 1" [(ngModel)]="service.choir1">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Choir 2</mat-label>
                <input matInput placeholder="Choir 2" [(ngModel)]="service.choir2">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Choir 3</mat-label>
                <input matInput placeholder="Choir 3" [(ngModel)]="service.choir3">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Choir 4</mat-label>
                <input matInput placeholder="Choir 4" [(ngModel)]="service.choir4">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Before Service</mat-label>
                <input matInput placeholder="Before Service" [(ngModel)]="service.congregationBS">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Opening Hymn</mat-label>
                <input matInput placeholder="Opening Hymn" [(ngModel)]="service.congregationOH">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Repentance</mat-label>
                <input matInput placeholder="Repentance" [(ngModel)]="service.congregationRP">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Communion 1</mat-label>
                <input matInput placeholder="Communion 1" [(ngModel)]="service.congregationCM1">
            </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-form-field>
                <mat-label>Communion 2</mat-label>
                <input matInput placeholder="Communion 2" [(ngModel)]="service.congregationCM2">
            </mat-form-field>
        </mat-grid-tile>
    }

</mat-grid-list>

<input type="file" (change)="handleFileInput($event)">
<button mat-flat-button (click)="saveSchedule()">Save</button>